@model FlashcardModel
@{
    ViewData["Title"] = "Lesson Page";
}

    <div class="text-center">
        <h1 class="display-4">Lesson Flashcards</h1>
        @foreach (var f in Model.Flashcards)
        {
            <h2>Flashcard</h2>
            <h3>Front Side</h3>
            <div class="back-side">
                @f.ShowFront()
            </div>
            <h3>Back Side</h3>

            <div class="front-side">
                @f.ShowBack()
            </div>
        }
    </div>
