@model FlashcardModel
@{
    ViewData["Title"] = "Lesson Page";
}

    <div class="text-center">
        <h1 class="display-4">Lesson Flashcards</h1>
        <table border="1">
            <thead>
                <tr style="font-weight:bold"><td>Front</td><td>Back</td></tr>
            </thead>
            @foreach (var f in Model.Flashcards)
            {
                <tr>
                    <td>
                        <div class="front-side">
                            @f.ShowFront()
                        </div>

                    </td>
                    <td>
                        <div class="back-side">
                            @f.ShowBack()
                        </div>
                    </td>
                </tr>

            }
        </table>

        <a class="nav-link text-dark" asp-area="" asp-controller="Lesson" asp-action="AddFlashcard">Add New Flashcard</a>

    </div>
